{% extends "base.html" %}
{% load i18n crispy_forms_tags core_tags %}

{% block content %}

{{ formset.media }}

        <div class="inline-group js-django-inlines" id="{{ formset.prefix }}-group" data-options="{{ formset|as_script_options }}">
            {% block add_button %}
                {% if formset.empty_forms %}
                    {# django-polymorphic formset #}
                    <div class="btn-group" role="group">
                      {% for model in formset.child_forms %}
                          <a type="button" data-type="{{ model|as_model_name }}" class="js-add-form btn btn-default">{{ model|as_verbose_name }}</a>
                      {% endfor %}
                    </div>
                {% else %}
                    <a class="btn btn-default js-add-form">{% trans "Add" %}</a>
                {% endif %}
            {% endblock %}

            {{ formset.management_form }}
            {% for form in formset|include_empty_form %}
                <div id="{{ form.prefix }}" data-inline-type="{{ form|as_form_type|lower }}" class="inline-related{% if '__prefix__' in form.prefix %} empty-form{% endif %}">
                    {{ form|as_non_field_errors }}

                    {# Add the 'pk' field that is not mentioned in crispy #}
                    {% for field in form.hidden_fields %}
                      {{ field }}
                    {% endfor %}

                    {% block formset_form %}
                        {% crispy form %}
                    {% endblock %}

                    {% if formset.can_delete %}<span class="glyphicon glyphicon-trash remove-button js-remove-form" title="{% trans "Remove" %}"></span>{% endif %}
                </div>
            {% endfor %}
        </div>
{% endblock content %}
